.seller-auth {
    width: 500px;
    margin: auto;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.sign-Up {
    padding: 5px;
    margin: 10px 40px;
    ;
}

.Input {
    border-radius: 5px;
    padding: 5px;
    margin: 10px 40px;
    ;
}

.input-data {
    width: 100%;
}

.button-container {
    display: flex;
    justify-content: space-between;
}

.login-Btn {
    margin-right: 20px;
}

.login-button,
.forget-password-link {
    flex: 1;
    /* Take up equal space in the container */
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.forget-password-link {
    color: black;
    margin-left: 10px;
    /* Adjust spacing between buttons */
}

.error-message {
    color: crimson;
}

.text-danger {
    color: red;

}

::ng-deep .p-component {
    width: 100%;
}

::ng-deep .p-inputtext .p-component .p-password-input {
    width: 100%;
}