<!-- <div class="nav">
    <img src="../../assets/Images/logo.png" alt="AXIA Logo" class="logo-image">
    <h4 class="nave-side">Questions 888-550-7512</h4>
</div> -->
<!-- Image and text -->
<div class="main-content">
  <div style="display: flex; margin-top: 10px;">
      <img src="../../assets/Images/logo.png" width="50" height="30"alt="">
      <h5 class="nave-side">System Monitoring</h5>
  </div>
  <div style="display: flex; gap: 2px; margin-top: 10px;">
    <h6>Akash Niwane |</h6>
    <h6 style="color: grey;">211 Zocca drive,Zocca.co</h6>
    <img style="width: 20px; height: 20px;background-color: orange; border-radius: 10px;" src="../../assets/home.png"
      alt="">
  </div>
</div>