<div class="sidebar">

    <p-sidebar [(visible)]="sidebarVisible">
        <h3>Sidebar</h3>
    </p-sidebar>
    <div class="buttonsidebar">
        <div>
            <p-button  (click)="sidebarVisible = true" icon="pi pi-align-justify"></p-button>
        </div>
        <div class="g-button">
            <img src="../../assets/Images/home (1).png" alt="" style="height: 20px; width: 20px;">
            <img src="../../assets/Images/document.png" alt="" style="height: 20px; width: 20px;">
            <img src="../../assets/Images/building.png" alt="" style="height: 20px; width: 20px;">
        </div>
    </div>
<div>
    
</div>
</div>