<div class="h-150">
    <div class="row">
        <div class="one">
            <div style="margin-top: 10px; text-align: center;">               
                    <img class="image-bar" src="../../assets/file.svg" alt="" style="background-color:rgb(223, 213, 170)">
                <h6 style="color: white;">Lifetime Savings</h6>
                <h4>$134.30</h4>
            </div>
        </div>
        <div class="two">
            <div style="margin-top: 10px;">
                <img class="image-bar" src="../../assets/leaf.svg" alt="" style="border-radius: 40px; background-color:#D0FFBC;" >
                <h6 style="color: white;">CO2 Reduction</h6>
                <h4>4201.6lbs</h4>
            </div>
        </div>
    </div>
    <br>
    <div>
        <p-card>
            <h5>System Status</h5>
            <div class="line-data">
                <div>
                    <img class="img-bar"  src="../../assets/battery-rts-icon.svg" alt="battery" style="background-color: grey; width: 20px; height: 20px;">
                    <h5>Battery</h5>
                    <h6 style="color: grey;">Not Installed</h6>
                </div>
                <div>
                    <img class="img-bar" src="../../assets/solar-rts-icon.svg" alt="battery" style="background-color: green;">
                    <h5>Solar</h5>
                    <h6 style="color: green;">Online</h6>
                </div>
                <div>
                    <img class="img-bar" src="../../assets/grid-rts-icon.svg" alt="battery" style="background-color:red;">
                    <h5>Inverters</h5>
                    <h6 style="color: red;">Outage</h6>
                </div>

            </div>
        </p-card>

    </div>
</div>