<div class="h-150">
    <div class="row">
        <div class="one">
            <div style="margin-top: 10px; text-align: center;"> 
                <div class="image-bar" style="margin-left:53px;"><img src="../../assets/Qcells-images-list/images/lifetime-savings-icon.svg" alt="" style="margin-top: 10px;"></div>                   
                <h6 style="color: white;">Lifetime Savings</h6>
                <h4 style="color: white; font-weight: bold;">$134.30</h4>
            </div>
        </div>
        <div class="two">
            <div style="margin-top: 10px;">
                <div class="image-bar-2" style="margin-left: 53px;"><img src="../../assets/Qcells-images-list/images/co2-icon.svg" alt="" style="margin-top: 10px;"></div>                   
                <h6 style="color: white;">CO2 Reduction</h6>
                <h4 style="color: white; font-weight: bold;">4201.6lbs</h4>
            </div>
        </div>
    </div>
    <br>
    <div>
        <p-card>
            <h5>System Status</h5>
            <div class="line-data">
                <div>
                    <div class="system-size-1"><img  src="../../assets/Qcells-images-list/images/battery-icon.svg" alt="battery" style="width: 20px; height: 20px; margin-top: 2px;"></div>
                    <h5>Battery</h5>
                    <h6 style="color: grey;">Not Installed</h6>
                </div>
                <div>
                    <div class="system-size-2"><img  src="../../assets/Qcells-images-list/images/solar-icon.svg" alt="battery" style="width: 20px; height: 20px; margin-top: 2px;"></div>
                    <h5>Solar</h5>
                    <h6 style="color: green;">Online</h6>
                </div>
                <div>
                    <div class="system-size-3"><img  src="../../assets/Qcells-images-list/images/grid-icon.svg" alt="battery" style="width: 20px; height: 20px; margin-top: 2px;"></div>
                    <h5>Inverters</h5>
                    <h6 style="color: red;">Outage</h6>
                </div>

            </div>
        </p-card>

    </div>
</div>