<app-header></app-header>


<div class="seller-auth">
    <h1 class="sign-Up">Forgot Password</h1>
    <h3 class="sign-Up">Please enter your Email Address</h3>
    <p-card>
        <form [formGroup]="forgetForm">

            <div class="Input">
                <label for="password">Email</label>
                <input class="input-data" type="text" pInputText formControlName="email"
                    [ngClass]="{'is-invalid':submitted && forgetForm.controls['email'].errors}" />
                <div *ngIf="submitted && forgetForm.controls['email'].errors" class="text-danger">
                    <div *ngIf="submitted && forgetForm.controls['email'].hasError('required')">
                        Email is required
                    </div>
                </div>

            </div>

            <div class="button-container">
                <a href="#" class="forget-password-link" routerLink=''>Login</a>
                <p-button class="login-Btn" label="Send Code" (click)="onSubmit()"></p-button>
            </div>
            <div class="footer-data">
                <h4>Need help?</h4>
                <h4>help@axiasolarusa.com</h4>
            </div>
        </form>
    </p-card>
</div>